<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center
    align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus 
          voluptas delectus quibusdam quam expedita illo itaque nobis autem fugiat 
          distinctio rerum ipsa maiores a earum, nisi hic repellendus nam sint. 
          Accusamus et incidunt possimus pariatur, alias debitis nihil ex non eaque 
          accusantium! Neque totam praesentium nesciunt eligendi veniam. Asperiores,
          iusto, porro, sit exercitationem molestiae ut fugiat autem blanditiis optio
          repudiandae ducimus recusandae nemo iste illum possimus. Placeat neque a libero
          unde dignissimos aspernatur aut sunt vitae assumenda temporibus! Quis ut eius harum
          et doloremque cupiditate quo architecto unde fugiat consectetur laborum enim dolorem
          quod esse corrupti recusandae, praesentium sequi sapiente delectus vero. Illo
          excepturi minima cupiditate amet libero sint temporibus quasi voluptatibus! Voluptatibus
          quaerat doloribus eos! Beatae, nulla molestias. Veniam impedit veritatis quidem nam est
          distinctio molestiae saepe rem laudantium aliquid dolor a facere porro, dolores
          voluptatibus odio ea error libero mollitia quos velit! Rerum officiis aspernatur
          cum, quod non eos nemo earum pariatur soluta quae praesentium nisi minus veritatis,
          voluptatibus ducimus! Impedit a doloribus quas error architecto aliquam, cumque,
          praesentium, natus provident dolorum ducimus dignissimos fugit consectetur in possimus
          dolores. Cupiditate error, numquam sapiente sed aliquam delectus pariatur. Nesciunt
          tempore voluptatum doloribus atque sequi modi hic aspernatur ipsam quo reiciendis nobis
          perspiciatis facilis tenetur, fugiat voluptatem cum nam repudiandae nemo repellendus
          autem? Fugit maiores ratione atque, laudantium dicta in architecto molestiae est similique
          harum provident, possimus assumenda odit molestias reprehenderit! Sequi modi in eum
          commodi molestiae deserunt earum animi, sit consequatur recusandae ducimus voluptas
          quis quibusdam dolore enim soluta dolor consectetur excepturi totam. Eveniet totam
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>

  </body>
</html>
